.container {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
  }
  
  .header {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  .filters label {
    margin-right: 10px;
  }
  
  .filters input,
  .filters select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #333;
    color: white;
  }
  
  .filters input::placeholder {
    color: #ccc;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #333;
  }
  
  .table tr:nth-child(even) {
    background-color: #444;
  }
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .menu-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .menu-button:hover {
    background-color: #0056b3;
  }
  